<odoo>

    <!-- Top menu item -->

    <menuitem name="every" id="every.menu_root"/>

    <!-- menu categories -->

    <menuitem name="Menu 1" id="every.menu_1" parent="every.menu_root"/>
    <menuitem name="Menu 2" id="every.menu_2" parent="every.menu_root"/>

    <!-- actions -->

    <menuitem name="List" id="every.menu_1_list" parent="every.menu_1"
              action="every.action_window"/>
    <menuitem name="Server to list" id="every" parent="every.menu_2"
              action="every.action_server"/>

</odoo>